#room-list {
  background: #222;
  color: white;
  font-size: 300%;
  text-align: left;

}

input[type="button"] {
	width: 100%;
  color: #222;
  display: inline-block;
  font: Consolas, sans-serif;
  font-size: 40%;
  padding: 14px;
  /* background: url('./../img/defaultUser100.png') repeat-x center #ffcc00; */
  background-color: #FFFFFF;
  border: 1px solid #222;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border-bottom: 1px solid #9f9f9f;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  cursor: pointer;

}

input[type="button"]:hover {
  background-color: rgba(49, 177, 252, 0.8);
	color: white;
}

.active {
	background-color: #222;
	color:rgba(49, 177, 252, 0.8);;
}

div#active-room-diplay {
    font-size: 100%;
		margin: 0 0 20px 0;
		border-style: solid;
		background: rgba(49, 177, 252, 0.8);;
}
