#room-component {
	border-color: #222;
}

#room-list {
	background: #222;
	color: white;
	font-size: 200%;
	margin-top: -17px;
	margin-left: -78px;
	margin-bottom: 0px;
}

input[type='button'] {
	width: 100%;
	color: #222;
	display: table-column;
	font: Consolas, sans-serif;
	font-size: 60%;
	padding: 14px;
	/* background: url('./../img/defaultUser100.png') repeat-x center #ffcc00; */
	background-color: white;
	border: 1px solid lightskyblue;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border-bottom: 1px solid #9f9f9f;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	cursor: pointer;
}

.active input[type='button'] {
	width: 100%;
	color: #222;
	display: table-column;
	font: Consolas, sans-serif;
	font-size: 60%;
	padding: 14px;
	/* background: url('./../img/defaultUser100.png') repeat-x center #ffcc00; */
	background-color: silver;
	border: 1px solid #222;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border-bottom: 1px solid #9f9f9f;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	cursor: pointer;
}

input[type='button']:hover {
	background-color: lightskyblue;
	border: 1px solid white;
	color: white;
}

input.room-name {
	background-color: white;
	color: #222;
}

input.room-name:hover {
	background: lightskyblue;
	color: black;
}

.active {
	background: #222;
}

fieldset {
	padding-bottom: 15px;
}

div#active-room-diplay {
	font-size: 90%;
	margin: 0px 0 20px 0;
	border-style: solid;
	border-color: silver;
	background: lightskyblue;
	color: #222;
	padding: 3px 0 3px 0;
}

/* ul#room-list {
	display: table;
} */
