.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 100px;
}

.App-header {
	background-color: #222;
	height: 5%;
	padding: 20px;
	color: white;
	line-height: 0;
}

.App-title {
	font-size: 400%;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

aside {
	float: left;
	padding: 5px;
}

#sidebar {
	background: #222;
	color: white;
}

#slogan {
	font-size: 300%;
}

#user {

	float: left;
	height: 150px;
	width: 150px;
	margin-left: 70px;
}

body {
		background: rgba(49, 177, 252, 0.8);
}
